body{
 background-color: $backgroundcolor;
}
header{
.navbar{
    width: 100%;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: $backgroundcolor;
    @include for-size(tablet){
       padding: 15px 50px;
    }
    @include for-size(phone){
        padding: 15px 30px;
    }
.logo{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    @include for-size(tablet){
        gap: 9px;
    }
.nav-logoimg{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    @include for-size(tablet){
        width: 24px;
        height: 24px;
    }
}
.nav-logoname{
    width: 199.414px;
    height: 19.8px;
    flex-shrink: 0;
    @include for-size(tablet){
        width: 149.56px;
        height: 14.85px;
    }
}
}
.right-side {
    display: flex;
    gap: 10px;
.list-navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    li a{
    list-style-type: none;
    text-decoration: none;
    color: $textcolor;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    display: flex;
    height: 46px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    @include for-size(tablet){
       display: none;
    }
    &:hover{
        transform: scale(0.9);
        transition: all 0.3s ease;
    }
    }
    .login-btn{
        display: flex;
        height: 60px;
        padding: 0px 30px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        border: transparent;
        cursor: pointer;
        background: $purple;
        color: #FFF;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
        @include for-size(tablet){
            display: none;
        }
        &:hover{
            transform: scale(0.9);
            transition: all 0.3s ease;
        }
    }
    .signup-btn{
        display: flex;
        height: 60px;
        padding: 0px 30px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        border: transparent;
        cursor: pointer;
        background: $purple;
        color: #FFF;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
        @include for-size(tablet){
            display: none;
        }
        &:hover{
            transform: scale(0.9);
            transition: all 0.3s ease;
        }
    }
}
.burgerimg{
    display: none;
    transition: 0.6s;
    width: 24px;
    height: 24px;
    @include for-size(tablet){
        display: inline;
    }
}
}


}
.burger-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    transition: 0.6s height, 0.6s padding;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1000;
    background:$avatarbackground;
    width: 100%;
    padding: 20px 0;
    &.open{
        display: flex;
        // height: 190px;
        padding-top: 16px;
        padding-bottom: 16px;
    .list-navigation{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        li a{
        list-style-type: none;
        text-decoration: none;
        color: $textcolor;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
        display: flex;
        height: 46px;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        @include for-size(tablet){
            padding: 0px 50px;
        }
        @include for-size(phone){
            padding: 0px 30px;
        }
        &:hover{
            transform: scale(0.9);
            transition: all 0.3s ease;
        }
        }
        .login-btn{
            display: flex;
            height: 60px;
            padding: 0px 30px;
            justify-content: center;
            align-items: end;
            gap: 12px;
            border-radius: 20px;
            border: transparent;
            cursor: pointer;
            background: $purple;
            color: #FFF;
            text-align: center;
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; 
            align-items: center;
            &:hover{
                transform: scale(0.9);
                transition: all 0.3s ease;
            }
        }
        .signup-btn{
            display: flex;
            height: 60px;
            padding: 0px 30px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            border-radius: 20px;
            border: transparent;
            cursor: pointer;
            background: $purple;
            color: #FFF;
            text-align: center;
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; 
            &:hover{
                transform: scale(0.9);
                transition: all 0.3s ease;
            }
        }
    }
}
}
}