.discover-art{
    display: flex;
    padding: 80px 195px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    @include for-size(tablet){
        align-items: flex-start;
        justify-content: center;
    }
    @include for-size(phone){
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
        padding: 40px 0;
    }
 .left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    h1{
        display: flex;
        width: 510px;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 0;  
        color: $textcolor;
        font-family: "Work Sans";
        font-size: 67px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; 
        text-transform: capitalize;  
        @include for-size(tablet){
         font-size: 38px;
         line-height: 120%;
         width: 330px;
        }   
        @include for-size(phone){
            font-size: 28px;
        }
    }
    p{
        color: $textcolor;
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        text-transform: capitalize;
        @include for-size(tablet){
            font-size: 16px;
            line-height: 140%;
        }
    }
    .getstart-btn{
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border: transparent;
        cursor: pointer;
        border-radius: 20px;
        background: $purple;
        color: $textcolor;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        @include for-size(tablet){
            padding: 0px 50px;
            font-size: 16px;
        }
        @include for-size(phone){
            display: none;
        }
        &:hover{
            transform: scale(0.9);
            transition: all 0.3s ease;
        }
    }
    .left-side-footer{
        display: flex;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        @include for-size(phone){
            display: none;
        }
    .info{
        display: flex;
        flex-direction: column;
    p{
            color: $textcolor;
            font-family: "Space Mono";
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            text-transform: capitalize;
            @include for-size (tablet){
                font-size: 22px;
                line-height: 160%;
            }
    }
    span{
        color: $textcolor;
        font-family: "Work Sans";
        font-size: 23.99px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        text-transform: capitalize;
        @include for-size(tablet){
            font-size: 16px;
            line-height: 140%;
        }
    }
    }
    }
 }
 .right-side-header{
    display: flex;
    flex-direction: column;
    .right-side{
        display: flex;
        height: 510px;
        flex-direction: column;
        align-items: center;
        flex: 1 0 0; 
        @include for-size(tablet){
            height: 330px;
        }
        img{
            height: 510px;
            @include for-size(tablet){
                height: 330px;
            }
        }
     }
     .getstart-btn{
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border: transparent;
        cursor: pointer;
        border-radius: 20px;
        background: $purple;
        color: $textcolor;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        display: none;
        @include for-size(phone){
            display: inline-block;
            margin-top: 40px;
            margin-bottom: 40px;
        }

    }
     .right-side-footer{
        display: flex;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        display: none;
        @include for-size(phone){
            display: flex;
            justify-content: center;
        }
    .info{
        display: flex;
        flex-direction: column;
    p{
            color: $textcolor;
            font-family: "Space Mono";
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            text-transform: capitalize;
            @include for-size (tablet){
                font-size: 22px;
                line-height: 160%;
            }
    }
    span{
        color: $textcolor;
        font-family: "Work Sans";
        font-size: 23.99px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        text-transform: capitalize;
        @include for-size(tablet){
            font-size: 16px;
            line-height: 140%;
        }
    }
    }
    }
 }

}