.browser-marketplace{
        display: flex;
        padding: 80px 0px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
        @include for-size(tablet){
            padding: 60px 0px;
        }
        @include for-size(phone){
            padding: 40px 0px;
        }
    .browser-header{
        display: flex;
        width: 1050px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        @include for-size(tablet){
            width: 834px;
        }
        @include for-size(phone){
            width: 375px;
            align-items: center;
        }
        .head{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                h1{
                    color: $textcolor;
                    font-family: "Work Sans";
                    font-size: 51px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 110%; /* 56.1px */
                    text-transform: capitalize;
                    @include for-size(tablet){
                        font-size: 38px;
                    }
                    @include for-size(phone){
                        font-size: 28px;
                    }
                }
                p{
                    color: $textcolor;
                    font-family: "Work Sans";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%; /* 35.2px */
                    @include for-size(tablet){
                        font-size: 16px;
                    }
                }
        }
        .search-input{
            position: relative;

input{
        display: flex;
        width: 1050px;
        height: 60px;
        padding: 12px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
         border-radius: 20px;
        border: 1px solid $avatarbackground;
        background-color: transparent;
         color: $avatarbackground;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        @include for-size(tablet){
        width: 680px;
       }
       @include for-size(phone){
        width: 315px;
       }
}
    img{
    position: absolute;
    right: 30px;
    top: 35px;
}
        }

    }

     .detail-created{
        display: flex;
        width: 1050px;
        @include for-size(tablet){
            width: 680px;
        }
        @include for-size(phone){
            width: 375px;
        }
        .created{
            display: flex;
            height: 60px;
            padding: 0px 30px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            flex: 1 0 0;
            border-bottom: 2px solid $avatarnum;
            @include for-size(phone){
                padding: 0px 10px;
            }
            p{
                color: $textcolor;
                text-align: center;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 30.8px */
                text-transform: capitalize;
                @include for-size(tablet){
                    font-size: 16px;
                }
            }
            span{
                color:$textcolor;
                font-family: "Space Mono";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
                display: flex;
                padding: 5px 10px;
                align-items: center;
                gap: 10px;
                border-radius: 20px;
                background: $avatarnum;
                @include for-size(tablet){
                    font-size: 12px;
                }
                @include for-size(phone){
                    display: none;
                }
            }
        }
        .collection{
            display: flex;
            height: 60px;
            padding: 0px 30px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            flex: 1 0 0;
            @include for-size(phone){
                padding: 0px 10px;
            }
            p{
                color: $avatarnum;
                text-align: center;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 30.8px */
                text-transform: capitalize;
                @include for-size(tablet){
                    font-size: 16px;
                }
            }
            span{
                color:$textcolor;
                font-family: "Space Mono";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
                display: flex;
                padding: 5px 10px;
                align-items: center;
                gap: 10px;
                border-radius: 20px;
                background: $avatarbackground;
                @include for-size(tablet){
                    font-size: 12px;
                }
                @include for-size(phone){
                    display: none;
                }
            }
        }
    }
}