.image{
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    background-image: url("https://cdn.animaapp.com/projects/63aaf7e2426e9824f0350c11/releases/63aaf8f2426e9824f0350c13/img/nft-highlight@1x.png");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: auto;
    mix-blend-mode: normal;
    position: relative;

.mashroom-background{
    align-items: flex-end;
    align-self: stretch;
    background: linear-gradient(180deg, rgba(162.00005114078522, 89.00000989437103, 255, 0) 0%, rgb(162.00000554323196, 89.00000229477882, 255) 100%);
    background-color: transparent;
    display: flex;
    height: auto;
    justify-content: center;
    mix-blend-mode: normal;
    padding: 360px 195px 60px 195px;
    position: relative;
    @include for-size(tablet){
        padding: 360px 195px 60px 195px;
        background: linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%);
    }
    @include for-size(phone){
        flex-direction: column;
        align-items: center;
        gap: 30px;
        display: flex;
        padding: 120px 195px 40px;
    }
    .left-side{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        flex: 1 0 0;
        .top{
            display: flex;
            padding: 10px 20px;
            align-items: center;
            gap: 12px;
            border-radius: 20px;
            background: $avatarbackground;
            img{
                display: flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
            }
            p{
                color: $textcolor;
                font-family: "Work Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
            }
        }
        .middle{
            h1{
                color: $textcolor;
                font-family: "Work Sans";
                font-size: 51px;
                font-style: normal;
                font-weight: 600;
                line-height: 110%; /* 56.1px */
                text-transform: capitalize;
                @include for-size(tablet){
                    font-size: 38px;
                    line-height: 120%;
                }
            }
        }
        .bottom{
            .seenft-btn{
                display: flex;
                height: 60px;
                padding: 22px 50px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                border-radius: 20px;
                background: $textcolor;
                color: $backgroundcolor;
                text-align: center;
                font-family: "Work Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 22.4px */
                cursor: pointer;
                border: none;
                @include for-size(phone){
                    display: none;
                }
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        .right-side{
            display: flex;
            // width: 295px;
            padding: 30px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 20px;
            background: rgba(59, 59, 59, 0.50);
            backdrop-filter: blur(5px);
            @include for-size(phone){
                // width: 315px;
                align-items: flex-start;
                align-self: stretch;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: auto;
                justify-content: flex-end;
                mix-blend-mode: normal;
                padding: 30px;
                position: relative;
            }
            .top{
                p{
                    color: $textcolor;
                    font-family: "Space Mono";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%; /* 13.2px */
                }
            }
            .bottom{
                display: flex;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;
                .info{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    flex: 1 0 0;
                    p{
                        color: $textcolor;
                        font-family: "Space Mono";
                        font-size: 38px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 45.6px */
                        text-transform: capitalize;
                    }
                    span{
                        color: $textcolor;
                        font-family: "Space Mono";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 110%; /* 13.2px */
                    }
                }
                .text{
                    p{
                        color: var(--Text, #FFF);
    
                        /* H4 - Space Mono */
                        font-family: "Space Mono";
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%; /* 39.2px */
                        text-transform: capitalize;
                    }
                }
    
            }
    
    
        }
        .bottom{
            .seenft-btn{
                display: flex;
                height: 60px;
                padding: 22px 50px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                border-radius: 20px;
                background: $textcolor;
                color: $backgroundcolor;
                text-align: center;
                font-family: "Work Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 22.4px */
                display: none;
                cursor: pointer;
                border: none;
                @include for-size(phone){
                    display: flex;
                    width: 315px;
                }
            }
        }
    }
 
}
}




// How it works section

.works-section{
    display: flex;
    padding: 80px 195px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    @include for-size(tablet){
        padding: 40px 195px;
        gap: 40px;
    }
    .top{
        width: 1050px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        @include for-size(tablet){
            width: 690px;
        }
        @include for-size(phone){
            width: 315px;
        }
         h1{
            color: $textcolor;
            font-family: "Work Sans";
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 45.6px */
            text-transform: capitalize;
            @include for-size(tablet){
                font-size: 28px;
            }
         }
         p{
            color: $textcolor;
            font-family: "Work Sans";
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 35.2px */
            text-transform: capitalize;
            @include for-size(tablet){
                font-size: 16px;
            }
         }
    }
    .bottom{
        display: flex;
        align-items: flex-start;
        gap: 30px;
        @include for-size(tablet){
            width: 690px;
        }
        @include for-size(phone){
            display: flex;
            width: 315px;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        .card{
            display: flex;
            width: 330px;
            height: 442px;
            padding: 10px 30px 30px 30px;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            border-radius: 20px;
            background: $avatarbackground;
            @include for-size(tablet){
                width: 210px;
                height: 370px;
                padding: 10px 20px 30px 20px;
                flex: 1 0 0;
                align-self: stretch;
            }
            @include for-size(phone){
                display: flex;
                flex-direction: row;
                width: 315px;
                height: 157px;
                padding: 20px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
            }
            .card-header{
                img{
                    @include for-size(tablet){
                        width: 205px;
                        height: 205px;
                    }
                    @include for-size(phone){
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            .card-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                @include for-size(phone){
                    width: 155px;
                    align-items: flex-start;
                }
                h3{
                    color: $textcolor;
                    text-align: center;
                    font-family: "Work Sans";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%; /* 30.8px */
                    text-transform: capitalize;
                    @include for-size(tablet){
                        font-size: 16px;
                    }
                    @include for-size(phone){
                        text-align: left;
                        align-items: flex-start;
                    }
                }
                p{
                    color: $textcolor;
                    text-align: center;
                    font-family: "Work Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%; /* 22.4px */
                    @include for-size(tablet) {
                        font-size: 12px;
                    }
                    @include for-size(phone){
                        text-align: left;
                    }
                }
            }
        }
    }
}



//Weekly digest

.weekly-digest{
    display: flex;
    padding: 40px 195px 80px 195px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    @include for-size(tablet){
        padding: 40px 0px 80px 0px;
    }
.weekly{
        display: flex;
        width: 1050px;
        padding: 60px;
        align-items: center;
        gap: 80px;
        border-radius: 20px;
        background:$avatarbackground;
        border: none;
        @include for-size(tablet){
            width: 690px;
            padding: 40px 30px;
            gap: 30px;
        }
        @include for-size(phone){
            padding: 40px 0;
            flex-direction: column;
            background-color: $backgroundcolor;
            width: 315px;
        }
    .left-side{
           img{
            height: 310px;
            flex: 1 0 0;
            @include for-size(tablet){
                height: 280px;
                width: 300px;
            }
            @include for-size(phone){
                width: 315px;
                height: 255px;
            }
           }
        
    }
    .right-side{
            display: flex;
            width: 425px;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            flex-shrink: 0;
            @include for-size(tablet){
                width: 300px;
            }
        .top{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            h1{
                color: $textcolor;
                font-family: "Work Sans";
                font-size: 38px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 45.6px */
                text-transform: capitalize;
                @include for-size(tablet){
                    font-size: 28px;
                }
            }
            p{
                color: $textcolor;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 35.2px */
                text-transform: capitalize;
                @include for-size(tablet){
                    font-size: 16px;
                }
            }
          }
        .bottom{
            display: flex;
            align-items: flex-start;
            position: relative;
            @include for-size(tablet){
           flex-direction: column;
           align-items: center;
           gap: 16px;
            }
        .enter-btn{
            display: flex;
            height: 60px;
            padding: 16px 0px 16px 20px;
            align-items: center;
            gap: 12px;
            align-self: stretch;
            border-radius: 20px;
            background:$textcolor;
            width: 425px;
            position: relative;
            z-index: 0;
            cursor: pointer;
            @include for-size(tablet){
                width: 315px;
            }
            p{
                color: $backgroundcolor;
                font-family: "Work Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
            }
        }
          .letter-btn{
            display: flex;
            height: 60px;
            padding: 0px 50px;
            justify-content: flex-end;
            align-items: center;
            gap: 12px;
            border-radius: 20px;
            background: $purple;
            border: none;
            z-index: 1;
            position: absolute;
            right: 0px;
            cursor: pointer;
            @include for-size(tablet){
                width: 315px;
                position: relative;
                right: 0;
                justify-content: center;
            }
            span{
                display: flex;
                align-items: center;
                gap: 12px;
                color:$textcolor;
                text-align: center;
                font-family: "Work Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 22.4px */
            }
          }
    
           
        }
    }
}
}