.image{
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    background-image: url("https://cdn.animaapp.com/projects/63aaf7e2426e9824f0350c11/releases/63aaf8f2426e9824f0350c13/img/nft-highlight@1x.png");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: auto;
    mix-blend-mode: normal;
    position: relative;

.mashroom-background{
    align-items: flex-end;
    align-self: stretch;
    background: linear-gradient(180deg, rgba(162.00005114078522, 89.00000989437103, 255, 0) 0%, rgb(162.00000554323196, 89.00000229477882, 255) 100%);
    background-color: transparent;
    display: flex;
    height: auto;
    justify-content: center;
    mix-blend-mode: normal;
    padding: 360px 195px 60px;
    position: relative;
    @include for-size(tablet){
        padding: 360px 195px 60px 195px;
        background: linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%);
    }
    @include for-size(phone){
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        display: flex;
        padding: 120px 195px 40px 195px;
    }
    .left-side{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        flex: 1 0 0;
        .top{
            display: flex;
            padding: 10px 20px;
            align-items: center;
            gap: 12px;
            border-radius: 20px;
            background: $avatarbackground;
            img{
                display: flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
            }
            p{
                color: $textcolor;
                font-family: "Work Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
            }
        }
        .middle{
            h1{
                color: $textcolor;
                font-family: "Work Sans";
                font-size: 51px;
                font-style: normal;
                font-weight: 600;
                line-height: 110%; /* 56.1px */
                text-transform: capitalize;
                @include for-size(tablet){
                    font-size: 38px;
                    line-height: 120%;
                }
            }
        }
        .bottom{
            .seenft-btn{
                display: flex;
                height: 60px;
                padding: 22px 50px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                border-radius: 20px;
                background: $textcolor;
                color: $backgroundcolor;
                text-align: center;
                font-family: "Work Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 22.4px */
                cursor: pointer;
                border: none;
                @include for-size(phone){
                    display: none;
                }
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        .right-side{
            display: flex;
            width: 295px;
            padding: 30px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 20px;
            background: rgba(59, 59, 59, 0.50);
            backdrop-filter: blur(5px);
            .top{
                p{
                    color: $textcolor;
                    font-family: "Space Mono";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%; /* 13.2px */
                }
            }
            .bottom{
                display: flex;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;
                .info{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    flex: 1 0 0;
                    p{
                        color: $textcolor;
                        font-family: "Space Mono";
                        font-size: 38px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 45.6px */
                        text-transform: capitalize;
                    }
                    span{
                        color: $textcolor;
                        font-family: "Space Mono";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 110%; /* 13.2px */
                    }
                }
                .text{
                    p{
                        color: var(--Text, #FFF);
    
                        /* H4 - Space Mono */
                        font-family: "Space Mono";
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%; /* 39.2px */
                        text-transform: capitalize;
                    }
                }
    
            }
    
    
        }
        .bottom{
            .seenft-btn{
                display: flex;
                height: 60px;
                padding: 22px 50px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                border-radius: 20px;
                background: $textcolor;
                color: $backgroundcolor;
                text-align: center;
                font-family: "Work Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 22.4px */
                display: none;
                cursor: pointer;
                border: none;
                @include for-size(phone){
                    display: flex;
                    width: 315px;
                }
            }
        }
    }
 
}
}