.discover-nft{
    display: flex;
    padding: 80px 195px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    @include for-size(tablet){
        padding: 40px 195px 80px 195px;
        gap: 40px;
    }
    @include for-size(phone){
        padding: 40px 0px 60px 0px;
    }
    .top-side{
        display: flex;
        width: 1050px;
        align-items: center;
        gap: 100px;
        @include for-size(tablet){
            width: 690px;
        }
        @include for-size(phone){
            width: 315px;
        }
        .right-side{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            flex: 1 0 0;
            h1{
                color: $textcolor;
                font-family: "Work Sans";
                font-size: 38px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 45.6px */
                text-transform: capitalize;
                @include for-size(tablet){
                    font-size: 28px;
                }
            }
            p{
                color: $textcolor;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 35.2px */
                text-transform: capitalize;
                @include for-size(tablet){
                    font-size: 16px;
                }
            }
        }
        .left-side{
            display: flex;
            height: 60px;
            @include for-size(phone){
                display: none;
            }
            button{
                padding: 0px 50px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                border-radius: 20px;
                border: 2px solid $purple;
                background: transparent;
                color:$textcolor;
                display: flex;
                text-align: center;
                font-family: "Work Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 22.4px */
                cursor: pointer;
                &:hover{
                    transform: scale(0.9);
                    transition: all 0.3s ease;
                }
            }
        }
    }
    .bottom-side{
        .cards{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 30px;
            @include for-size(tablet){
                width: 690px;
                overflow-x: scroll;
                grid-template-columns: repeat(2,1fr);
            }
            @include for-size(phone){
                overflow: hidden;
                gap: 20px;
                width: 315px;
                grid-template-columns: repeat(1,1fr);
            }
            .card{
                display: flex;
                height: 469px;
                flex-direction: column;
                flex: 1 0 0;
                &:hover{
                    transform: scale(0.9);
                    transition: all 0.3s ease;
                    cursor: pointer;
                }
                .card-body{
                    display: flex;
                    padding: 20px 30px 25px 30px;
                    flex-direction: column;
                    gap: 25px;
                    align-self: stretch;
                    background: $avatarbackground;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                .card-info{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    align-self: stretch;
                    p{
                        color: $textcolor;
                        font-family: "Work Sans";
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%; /* 30.8px */
                        text-transform: capitalize;
                    }
                    span{
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        color: $textcolor;
                        font-family: "Space Mono";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 22.4px */
                    }
                }
                .card-footer{
                    display: flex;
                    .left{
                        display: flex;
                        padding-right: 21px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        flex: 1 0 0;
                        p{
                            color: $avatarnum;
                            font-family: "Space Mono";
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 110%; /* 13.2px */
                        }
                        span{
                            color: $textcolor;
                            font-family: "Space Mono";
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%; /* 22.4px */
                        }
                    }
                    .right{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        gap: 8px;
                        flex: 1 0 0;
                        p{
                            color: $avatarnum;
                            font-family: "Space Mono";
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 110%; /* 13.2px */
                        }
                        span{
                            color: $textcolor;
                            font-family: "Space Mono";
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%; /* 22.4px */
                        }
                    }
                }
            }
            }
        }
    }
}
.seeall-btn{
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid $purple;
    background: transparent;
    color:$textcolor;
    display: flex;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    display: none;
    width: 315px;
    cursor: pointer;
    &:hover{
        transform: scale(0.9);
        transition: all 0.3s ease;
    }
    @include for-size(phone){
        display: flex;
    }
}