.top-creators{
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    @include for-size(tablet){
        padding: 40px 0px;
    }
    @include for-size(phone){
        padding: 30px 0px;
    }
    .top{
        display: flex;
        width: 1050px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        @include for-size(tablet){
            width: 690px;
         }
        @include for-size(phone){
            width: 315px;
            gap: 10px;
        }
        h1{
            color: $textcolor;
            font-family: "Work Sans";
            font-size: 51px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%; /* 56.1px */
            text-transform: capitalize;
            @include for-size(tablet){
                font-size: 38px;
            }
            @include for-size(phone){
                font-size: 28px;
            }
        }
        p{
            color: $textcolor;
            font-family: "Work Sans";
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 35.2px */
            @include for-size(tablet){
                font-size: 16px;
            }
        }
    }
    .bottom{
        display: flex;
        padding: 0px 10px;
        align-items: center;
        gap: 10px;
        width: 1050px;
        @include for-size(tablet){
            width:680px
        }
        @include for-size(phone){
            width: 315px;
        }
        .creator-info1{
            display: flex;
            height: 60px;
            padding: 0px 30px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            flex: 1 0 0;
            p{
                color: $avatarnum;
                text-align: center;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 30.8px */
                text-transform: capitalize;
                display: flex;
                height: 60px;
                padding: 0px 30px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                flex: 1 0 0;
                @include for-size(tablet){
                    font-size: 16px;
                }
            }
            .today-info{
                color: $textcolor;
                text-align: center;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 30.8px */
                text-transform: capitalize;
                border-bottom: 2px solid $avatarnum;
                @include for-size(tablet){
                    font-size: 16px;
                }
            }
        }
        .creator-info1{
            display: flex;
            height: 60px;
            padding: 0px 30px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            flex: 1 0 0;
            @include for-size(phone){
                 display: none;
            }
            p{
                color: $avatarnum;
                text-align: center;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 30.8px */
                text-transform: capitalize;
                display: flex;
                height: 60px;
                padding: 0px 30px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                flex: 1 0 0;
                @include for-size(tablet){
                    font-size: 16px;
                }
            }
            .today-info{
                color: $textcolor;
                text-align: center;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 30.8px */
                text-transform: capitalize;
                border-bottom: 2px solid $avatarnum;
                @include for-size(tablet){
                    font-size: 16px;
                }
            }
        }
        .creator-info2{
            display: none;
            height: 60px;
            padding: 0px 30px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            flex: 1 0 0;
            @include for-size(phone){
                display: flex;
                width: 315px;
            }
            p{
                color: $avatarnum;
                text-align: center;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 30.8px */
                text-transform: capitalize;
                display: flex;
                height: 60px;
                padding: 0px 30px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                flex: 1 0 0;
                @include for-size(tablet){
                    font-size: 16px;
                }
                @include for-size(phone){
                    width: 78.75px;
                    gap: 0;
                }
            }
            .today-info{
                color: $textcolor;
                text-align: center;
                font-family: "Work Sans";
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 30.8px */
                text-transform: capitalize;
                border-bottom: 2px solid $avatarnum;
                  @include for-size(tablet){
                    font-size: 16px;
                }
            }
        }
    }
    .artist-about{
        display: flex;
        width: 1050px;
        height: 46px;
        padding: 12px 0px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        border: 1px solid $avatarbackground;
        @include for-size(tablet){
            width: 690px;
        }
        @include for-size(phone){
            width: 315px;
        }
        .artist{
            display: flex;
            width: 1050px;
            padding: 0px 20px;
            justify-content: space-between;
            align-items: center;
            @include for-size(tablet){
                width: 690px;
            }
            @include for-size(phone){
                width: 315px;
            }
        .info{
            display: flex;
            width: 430px;
            align-items: center;
            gap: 20px;
            flex-shrink: 0;
            @include for-size(phone){
                gap: 10px;
                width: 215px;
            }
            p{
                color: $avatarnum;
                font-family: "Space Mono";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
            }
            span{
                color: $avatarnum;
                font-family: "Space Mono";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
            }
        }
        .nft-about{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            p{
                width: 160px;
                color: $avatarnum;
                font-family: "Space Mono";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
                @include for-size(tablet){
                    width: 100px;
                }
            }
            .p1{
                @include for-size(phone){
                    display: none;
                }
            }
            .p2{
                @include for-size(tablet){
                    display: none;
                }
            }
        }
        }
    }
    .about-creators{
        display: flex;
        padding: 40px 0px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        .creators{
            display: flex;
            width: 1050px;
            padding: 12px 0px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border-radius: 20px;
            background: $avatarbackground;
            cursor: pointer;



            //skeleton  
              background: #eee;
              color: transparent;
              position: relative;
              overflow: hidden;
              height: 108px;
              

            &::before{
                content: "";
                position: absolute;
                left: 0%;
                top: 0;
                height: 100%;
                width: 100%;
                background-size: 40px 60px;
                animation-name: gradient-animation;
                //background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
                background:none;
                animation-duration: 2s;
                animation-iteration-count: infinite; 
            }
            @keyframes gradient-animation {
                0% {
                    background-position: -468px 0;
                }
                 100% {
                    background-position: 468px 0;
                }
            }
            &:hover{
                box-shadow: rgba(153, 46, 240, 0.4) 0px 5px, rgba(140, 46, 240, 0.3) 0px 10px, rgba(140, 46, 240, 0.2) 0px 15px, rgba(146, 46, 240, 0.1) 0px 20px, rgba(133, 46, 240, 0.05) 0px 25px;
            }
            @include for-size(tablet){
                width: 690px;
                height: 60px;
            }
            @include for-size(phone){
                width: 315px;
                height: 50px;
            }
            .creator-info{
                display: flex;
                width: 1050px;
                padding: 0px 20px;
                justify-content: space-between;
                align-items: center;

              
                @include for-size(tablet){
                    width: 690px;
                }
                @include for-size(phone){
                    width: 310px;
                }
                .creator{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    flex: 1 0 0;
                    //skeleton
                    background:transparent;
                    color: transparent;
                    overflow: hidden;
                 
                    @include for-size(phone){
                        gap: 10px;
                    }
                    p{
                        color: $avatarnum;
                        text-align: center;
                        font-family: "Space Mono";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 22.4px */
                        display: flex;
                        width: 30px;
                        align-items: flex-start;
                        gap: 10px;
                        flex-shrink: 0;
                        border-radius: 20px;
                        background:$backgroundcolor;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;

                             //skeleton
                background:transparent;
                color: transparent;
                overflow: hidden;
                        @include for-size(tablet){
                            width: 24px;
                            height: 24px;
                        }
                        @include for-size(phone){
                            font-size: 12px;
                        }
                    }
                    img{
                        display: flex;
                        width: 60px;
                        height: 60px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        border-radius: 100px;

                             //skeleton
                background:transparent;
                color: transparent;
                overflow: hidden;
                display: none;
                        @include for-size(tablet){
                            width: 24px;
                            height: 24px;
                        }
                    }
                    span{
                        color: $textcolor;
                        font-family: "Work Sans";
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%; /* 30.8px */
                        text-transform: capitalize;

                              //skeleton
                background:transparent;
                color: transparent;
                overflow: hidden;
                        @include for-size(phone){
                            font-size: 12px;
                        }
                    }
                }
                .creator-nft{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 20px;
                    p{
                        width: 160px;
                        @include for-size(tablet){
                            width: 100px;
                        }
                        @include for-size(phone){
                            width: 80px;
                        }
                    }
                    .p-change{
                        color: $green;
                        font-family: "Space Mono";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 22.4px */

                        //skeleton
                background:transparent;
                color: transparent;
                overflow: hidden;
                        @include for-size(phone){
                            display: none;
                        }
                    }
                    .p-nft{
                        color: $textcolor;
                        font-family: "Space Mono";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 22.4px */

                         //skeleton
                background:transparent;
                color: transparent;
                overflow: hidden;
                        @include for-size(tablet){
                            display: none;
                        }
                    }
                    .p-volume{
                        color: $textcolor;
                        font-family: "Space Mono";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 22.4px */

                         //skeleton
                background:transparent;
                color: transparent;
                overflow: hidden;
                        @include for-size(phone){
                            font-size: 12px;
                        }
                    }
                }

            }
        }
    }
}