.discover-art{
    display: flex;
    padding: 80px 195px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
 .left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    h1{
        display: flex;
        width: 510px;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 0;  
        color: $textcolor;
        font-family: "Work Sans";
        font-size: 67px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; 
        text-transform: capitalize;              
    }
    p{
        color: $textcolor;
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        text-transform: capitalize;
    }
    .getstart-btn{
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border: transparent;
        cursor: pointer;
        border-radius: 20px;
        background: $purple;
        color: $textcolor;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }
    .left-side-footer{
        display: flex;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
    .info{
        display: flex;
        flex-direction: column;
    p{
            color: $textcolor;
            font-family: "Space Mono";
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            text-transform: capitalize;
    }
    span{
        color: $textcolor;
        font-family: "Work Sans";
        font-size: 23.99px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        text-transform: capitalize;
    }
    }
    }
 }
 .right-side{
    display: flex;
    height: 510px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0; 
    img{
        height: 510px;
    }

 }
}